body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation,
.footer-social ul,
.hotels {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.description {
  text-align: center;

  background-color: #0b2c0b;
  background-image: url("../img/background-photo.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.description div {
  background-color: #ffffff
}

.description h1,
.hotels .captions {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.description p {
  line-height: 26px;
}

.search,
.catalog {
  background-color: #ffffff
}

.search h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.search .explanation {
  line-height: 26px;
  text-align: center;
}

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-popup,
.button-post {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;

  border: none;
}

.button-popup,
.hotel-button-brown {
  background-color: #766357;
}

.button-post,
.hotel-button-blue {
  background-color: #81b3d2;
}

.button-popup:hover,
.button-popup:focus,
.hotel-button-brown:hover,
.hotel-button-brown:focus {
  background-color: #604e43;
}

.button-popup:active,
.hotel-button-brown:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-post:hover,
.button-post:focus,
.hotel-button-blue:hover,
.hotel-button-blue:focus {
  background-color: #669ec0
}

.button-post:active,
.hotel-button-blue:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.search-for-hotels label,
.search-for-hotels input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.search-for-hotels input {
  background-color: #f2f2f2;
  border: none;
}

.search-for-hotels input:hover {
  background-color: #ebebeb;
}

.search-for-hotels input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-for-hotels .calendar {
  color: #cacaca;

  border: none;
}

.search-for-hotels .signs {
  color: #bdbbbc;

  border: none;
}

.search-for-hotels .calendar:hover,
.search-for-hotels .calendar:focus,
.search-for-hotels .signs:hover,
.search-for-hotels .signs:focus {
  color: #000000;
}

.search-for-hotels .calendar:active,
.search-for-hotels .signs:active {
  color: #81b3d2;
}

.main-footer {
  color: #000000;

  background-color: #ffffff;
}

.footer-contacts,
.catalog .found {
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a {
  color: #231f20;
}

.social-button:hover,
.social-button:focus {
  background-color: #5496bd;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.hotels .captions:hover,
.hotels .captions:focus {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

.hotels .captions:active {
  color:rgba(0, 0, 0, 0.3);
}

.current {
  color: #766357;
}

.type,
.price {
  text-align: left;
}

.hotel-button {
  font-weight: bold;
  color: #ffffff;
}

.hotels .rating {
  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}


