body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;


  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.site-navigation a {
 color: #000000;
}

.site-navigation,
.footer-social ul {
  list-style: none;
}

.site-navigation li {
  display: block;
  width: 20%;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(1) {
  margin-left: 6%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(4) {
  margin-right: 6%;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.image {
  background-color: #0b2c0b;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-position: -1px 451px, 0 -83px;
  background-size: 1202px 59px, 1200px 800px;
  background-repeat: no-repeat;
}

.image-items {
  max-width: 460px;
  padding-top: 76px;
  padding-bottom: 72px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  background-color: transparent;
}

.sedona {
  margin-right: auto;
  margin-left: auto;

  background-color: #ffffff;

}

.sedona h1 {
  width: 441px;
  padding: 0;
  padding-top: 61px;
  padding-bottom: 26.5px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.sedona p {
  width: 492px;
  padding-top: 0;
  padding-bottom: 51px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  line-height: 26px;
}

.sedona span {
  padding-left: 72px;
}

.sedona h1,
.hotels .captions {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.reasons {
  position: relative;
  z-index: 3;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;

  background-color: #ffffff;
}

.reasons-list span {
  padding: 0;
  margin: 0;
}

.reasons-list p {
  padding: 0;
  margin: 0;
}

.reasons-list .title-item {
  padding: 0;
  padding-bottom: 24px;
  margin: 0;

  font-size: 21px;
  font-weight: bold;
}

.title-item-black {
  color: #000000;
}

.reasons-list .reason-description {
  padding-top: 21px;
}

.reasons-list .reason-item-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  color: #ffffff;

  background-color: #81b3d2;
}

.reasons-list .reason-item-grey {
  background-color: #eeeeee;
}

.features .features-item-house,
.features .features-item-food,
.features .features-item-gift {
  text-align: center;
  color: #333333;

  list-style: none;
  background-color: #ffffff;
}

.reasons-list .reason-text {
  width: 282px;
  padding-top: 47px;
  padding-right: 58px;
  padding-bottom: 59px;
  padding-left: 60px;
  margin-right: 0;
}

.reasons-list .reason-two {
  width: 303px;
  padding-top: 46px;
  padding-right: 48px;
  padding-left: 49px;
}

.reasons-list .reason-three {
  width: 210px;
  padding-right: 95px;
  padding-left: 95px;
}

.reasons-list .reason-four {
  width: 264px;
  padding-right: 67px;
  padding-left: 69px;
}

.reasons-list .reason-five {
  width: 249px;
  padding-right: 75px;
  padding-left: 75px;
}

.features h4 {
  position: relative;
}

.features .features-item {
  padding-top: 161px;
  padding-bottom: 82px;
}

.features .features-item-house {
  width: 254px;
  padding-right: 73px;
  padding-left: 73px;
}

.features-item-house h4::before {
  content: "";

  position: absolute;
  left: 89px;
  bottom: 74px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features .features-item-food {
  width: 285px;
  padding-right: 57px;
  padding-left: 58px;
}

.features-item-food h4::before {
  content: "";

  position: absolute;
  left: 105px;
  bottom: 75px;

  width: 74px;
  height: 70px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features .features-item-gift {
  width: 274px;
  padding-right: 62px;
  padding-left: 64px;
}

.features-item-gift h4::before {
  content: "";

  position: absolute;
  left: 104px;
  bottom: 74px;

  width: 64px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  z-index: 2;
}

.container {
  background-color: #ffffff;
}

.container h2 {
  padding-top: 50px;
  padding-bottom: 24px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}

.container .explanation {
  padding-bottom: 47px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  line-height: 24px;
  text-align: center;
}

.search-container {
  position: relative;
}

.button-popup {
  position: relative;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-right: 316px;
  margin-bottom: 0;
  margin-left: 316px;

  background-color: #766357;

  z-index: 2;
}

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-popup,
.button-post {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;

  border: none;
}

.button-post {
  padding-top: 16px;
  padding-right: 196px;
  padding-bottom: 16px;
  padding-left: 196px;
  margin-top: 40px;
  margin-left: -1px;

  background-color: #81b3d2;
}

.button-popup:hover,
.button-popup:focus,
.hotel-button-brown:hover,
.hotel-button-brown:focus {
  background-color: #604e43;
}

.button-popup:active,
.hotel-button-brown:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-post:hover,
.button-post:focus,
.hotel-button-blue:hover,
.hotel-button-blue:focus {
  background-color: #669ec0
}

.button-post:active,
.hotel-button-blue:active {
  color:rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.search-for-hotels {
  position: absolute;
  top: 100%;
  left: 316px;
  width: 568px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  z-index: -1;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  -o-transition: transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.invisible {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.form-search-for-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 55px;
  margin-right: 54px;
  margin-bottom: 55px;
  margin-left: 56px;
}

.form-search-for-hotels p {
  margin-top: 0;
  padding: 0;
}

.form-search-for-hotels label,
.form-search-for-hotels input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.arrival {
  position: relative;
  margin-top: 0;
  margin-bottom: 29px;
}

.departure {
  position: relative;
  margin-bottom: 30px;
}

.arrival label {
  margin-right: 17px;
}

.departure label {
  margin-right: 14px;
}

.arrival input,
.departure input {
  position: relative;
  width: 334px;
  height: 26px;
  padding-top: 6px;
  padding-right: 0;
  padding-bottom: 6px;
  padding-left: 12px;
}

.form-search-for-hotels input {
  background-color: #f2f2f2;
  border: none;
}

.form-search-for-hotels input:hover {
  background-color: #ebebeb;
}

.form-search-for-hotels input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.arrival .calendar,
.departure .calendar {
  position: absolute;
  top: 50%;
  right: 9px;
  padding: 0;

  background-color: transparent;
  border: none;

  -webkit-transform: translateY(-44%);

      -ms-transform: translateY(-44%);

          transform: translateY(-44%);
}

.calendar:hover path,
.calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.form-search-for-hotels .adults,
.form-search-for-hotels .children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adults label,
.children label {
  padding-top: 6px;
  margin-right: 41px;
  margin-left: -1px;
}

.children label {
  margin-right: 27px;
  margin-left: 53px;
}

.adults input,
.children input {
  width: 38px;
  height: 38px;
  padding: 0;

  text-align: center;
}

.form-search-for-hotels .signs {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: #f2f2f2;
}

.press,
.press-sup {
  position: relative;
}

.adults .press::after,
.children .press::after {
  content: "";

  position: absolute;

  width: 12px;
  height: 3px;

  background-color: #AAABAB;
}

.adults .press::after {
  top: 18px;
  left: 13px;
}

.children .press::after {
  top: 18px;
  left: 14px;
}

.adults .press-sup::after,
.children .press-sup::after {
  content: "";

  position: absolute;

  width: 11px;
  height: 3px;

  background-color: #AAABAB;
}

.adults .press-sup::after {
  top: 18px;
  left: 13px;
}

.children .press-sup::after {
  top: 18px;
  left: 14px;
}

.adults .press-sup::before,
.children .press-sup::before {
  content: "";

  position: absolute;

  width: 3px;
  height: 11px;

  background-color: #AAABAB;
}

.adults .press-sup::before {
  top: 14px;
  left: 17px;
}

.children .press-sup::before {
  top: 14px;
  left: 18px;
}

.press:hover::after,
.press:focus::after,
.press-sup:hover::after,
.press-sup:focus::after,
.press-sup:focus::before,
.press-sup:hover::before {
  background-color: #000000;
}

.press:active::after,
.press-sup:active::after,
.press-sup:active::before {
  background-color: #81b3d2;
}

.maps {
  position: relative;
  height: 593px;
}

.maps iframe {
  border: none;
}

.maps img {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -2;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgba(0, 0, 0, 1);

  background-color: #ffffff;
  opacity: 0.9;
}

.index-footer {
  margin-top: -120px;
}

.footer-contacts {
  width: 400px;
}

.footer-contacts-items {
  width: 136px;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 47px;
  margin-top: 0;
  margin-right: 132px;
  margin-bottom: 0;
  margin-left: 133px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  width: 400px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0;
}

.social-button li {
  position: relative;
  margin-right: 6px;
}

.social-button li:nth-child(1) {
  margin-left: 84px;
}

.social-button-twitter,
.social-button-facebook,
.social-button-youtube {
  display: block;
  width: 46px;
  height: 48px;

  color: #ffffff;
  background-color: #81b3d2;
}

.social-button-twitter::after {
  content: "";

  position: absolute;
  top: 17px;
  left: 15px;

  width: 17px;
  height: 15px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-facebook::after {
  content: "";

  position: absolute;
  top: 13px;
  left: 17px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button-youtube::after {
  content: "";

  position: absolute;
  top: 16px;
  left: 13px;

  width: 20px;
  height: 16px;

  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-copyright {
  width: 400px;

  text-align: center;
}

.footer-copyright-items {
  position: relative;
  width: 197px;
  padding-top: 46px;
  padding-bottom: 47px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 41px;

  font-size: 14px;
  line-height: 26px;
}

.htmlacademy {
  position: absolute;
  left: 143px;
  bottom: 31px;

}

.social-button-twitter:hover,
.social-button-facebook:hover,
.social-button-youtube:hover,
.social-button-twitter:focus,
.social-button-facebook:focus,
.social-button-youtube:focus {
  background-color: #669ec0;
}

.social-button-twitter:active,
.social-button-facebook:active,
.social-button-youtube:active {
  background-color: #5496bd;
}

.social-button-twitter:active::after,
.social-button-facebook:active::after,
.social-button-youtube:active::after  {
  opacity: 0.3;
}

.htmlacademy:hover path,
.htmlacademy:focus path {
  fill: #81b3d2;
}

.htmlacademy:active path {
  fill: #bdbbbc;
}

.hotels .captions:active {
  color:rgba(0, 0, 0, 0.3);
}

.current {
  color: #766357;
}

.advacned-settings {
  color: #ffffff;

  background-color: #604e43;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.advacned-settings form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advacned-settings fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.advacned-settings legend {
  font-size: 16px;
  font-weight: bold;
}

.advacned-settings ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.infrastructure-container {
  width: 139px;
  padding-top: 27px;
  padding-right: 0;
  padding-bottom: 31px;
  padding-left: 72px;
}

.infrastructure li,
.housing li {
  padding-top: 25px;
}

.advacned-settings .checkbox {
  position: relative;
  padding-left: 39px;
}

.housing .checkbox {
  padding-left: 41px;
}

.advacned-settings .checkbox-icon {
  position: absolute;
  top: -2px;
  left: 0;

  width: 24px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.check-input:checked + .checkbox-icon {
  position: absolute;
  top: -2px;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on(1).svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:hover {
  cursor: pointer;
}

.check-input:focus + .checkbox-icon {
  cursor: pointer;
  outline: 2px solid #A6C7FF;
}

.check-input:disabled + .checkbox-icon {
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.check-input:disabled:checked + .checkbox-icon {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1;
}

.housing-container {
  width: 137px;
  padding-top: 27px;
  padding-right: 0;
  padding-bottom: 31px;
  padding-left: 116px;
}

.filter-range {
  width: 318px;
  padding-top: 27px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-left: 346px;
}

.filter-range legend {
  padding-bottom: 10px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 157px;

  width: 2px;
  height: 22px;

  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  padding-top: 5px;
  padding-left: 65px;
  width: 90px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .max-price {
  padding-left: 57px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-range .scale {
  position: relative;
  width: 317px;
  height: 2px;
  margin-bottom: 32px;
  margin-left: 1px;

  background-color:rgba(255, 255, 255, 0.3);
}

.filter-range .bar {
  position: absolute;
  top: 0;
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.filter-range .range-toggle {
  position: absolute;

  padding: 0;
  margin: 0;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  z-index: 1;
}

.range-toggle button {
  display: none;
}

.filter-range .range-toggle-min {
  top: -9px;
  left: 0;
}

.filter-range .range-toggle-max {
  top: -9px;
  right: 45px;
}

.filter-range .range-toggle:hover,
.filter-range .range-toggle:focus {
  background-color: #1b0342;

  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.button-show {
  padding-top: 6px;
  padding-right: 33px;
  padding-bottom: 5px;
  padding-left: 34px;
  margin-left: 85px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.button-show:hover,
.button-show:focus {
  color: #000000;

  background-color: #ffffff;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-right: 73px;
  padding-left: 72px;
  padding-bottom: 30px;
}

.found {
  padding: 0;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sort {
  padding-top: 4px;
  padding-left: 47px;
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.button-sort {
  padding-top: 4px;
  margin: 0;
  margin-left: 32px;
  /* чтобы убрать подчеркивание за пределами ссылки */

  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.button-sort-current {
  margin: 0;
  margin-left: 40px;

  color: #81b3d2;

  border: none;
}

.button-sort:hover,
.button-sort:focus {
  color: #81b3d2;
}

.button-sort:active {
  color: #000000;

  border: none;
}

.button-sort-current:hover,
.button-sort-current:focus {
  border: none;
}

.button-up,
.button-down {
  display: block;
  width: 11px;
  height: 10px;
  margin-right: 0;
  margin-left: auto;
}

.button-up {
  margin-top: -7px;
}

.button-down {
  padding-left: 12px;
  margin-top: -9px;
  margin-left: 0;
}

.button-current path {
  fill: #81b3d2;
}

.button-up:hover path,
.button-up:focus path,
.button-down:hover path,
.button-down:focus path {
  fill: #231F20;
}

.button-up:active path,
.button-down:active path {
  fill: #81b3d2;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;

  background-color: #ffffff
}

.hotels {
  padding: 0;
  margin: 0;

  list-style: none;
}

.hotels-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
  padding-right: 73px;
  padding-bottom: 30px;
  padding-left: 72px;

  border-top: 1px solid #f2f2f2;
}

.hotels-items h3,
.hotels-items p {
  padding: 0;
  margin: 0;
}

.hotels li:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotels-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 259px;
}

.hotels-items h3 {
  margin-top: -5px;
}

.hotels-items .photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotels .captions:hover,
.hotels .captions:focus {
  color: #81b3d2;
}

.type-container,
.price-container {
  margin-top: 7px;

  text-align: left;
}

.type-container {
  margin-right: 6px;
}

.hotel-button {
  display: block;
  margin-top: 14px;
  padding-top: 3px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 17px;

  font-weight: bold;
  color: #ffffff;
}

.hotel-button-blue {
  background-color: #81b3d2;
}

.hotel-button-brown {
  background-color: #766357;
}

.hotels .rating {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 3px;
  padding-right: 11px;
  padding-bottom: 3px;
  padding-left: 16px;
  margin-right: 0;
  margin-left: auto;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}

.hotels-items .stars {
  position: absolute;
  top: 29px;
  right: 72px;
  width: 18px;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: space;
  background-position: 0 0;
}

.hotels-items .stars-4 {
  width: 89px;
}

.hotels-items .stars-3 {
  width: 64px;
}

.hotels-items .stars-2 {
  width: 41px;
}

/* Анимация */

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
